@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

:root{
    --primary-color: #30336b;
    --secondary-color: #be2edd;
}

*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    font-family: 'lato', sans-serif;
    transition: transform 0.4s ease;
}

body.show-nav{
    transform: translateX(200px);
}

nav{
    transform: translateX(-100%);
    position: fixed;
    z-index: 100;
    height: 100vh;
    max-width: 100%;
    width: 200px;
    background-color: var(--primary-color);
}

nav img{
    text-align: center;
    margin: 40px;
    border-radius: 50%;
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: white;
    font-size: 1.5rem;
    padding: 0px;
    margin: opx;
}

nav ul li{
 
    margin: 20px;
    display: block;
    
}
nav ul li:hover{
    border-bottom: 1px solid black;
}
.modal-container{
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
}


.modal-container.show-modal{
    display: block;
}


.modal{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 400px;
    
}

.modal-container.show-modal{
    display: block;


}

.modal header{
    background-color: var(--primary-color);
    color: white;
}

.modal header h3{
    margin: 0px;
    display: inline;
    float: left;
}

.modal form{
    padding: 20px;
}

.modal form div{
    padding: 10px;
}

.modal form div label{
  
    display: block;
}


.modal form div input{
    display: block;
    padding: 3px;
    width: 100%;
}

.submit-btn{
    display: block;
    width: 100px;
}

header{
    position: relative;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 30px;
}

header h1{
    color: black;
    margin: 20px 0px;
}

header p{
    margin: 10px 0px;
}


button,.submit-btn
{
    background-color: var(--secondary-color);
    border-radius: 2px;
    padding: 8px 12px;
    border: 0;
    color: white;
}
.close-btn{
    background-color: transparent;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

button:focus{
    outline: none;
}

.btn-bars{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 20px;
    left: 20px;
}

.btn-signup{
    font-size: 20px;
}


.filter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filter h2{
    font-size: 3rem;
    margin: 20px 0px;

}

.filter input{
    width: 300px;
    padding: 5px 20px;
}


.posts-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 600px;
    width: 90%;
}

.post{
    margin: 20px 0px;
    padding: 10px;
    position: relative;
    padding: 10px;
    background-color: var(--primary-color);
    border: 6px;
    color: white;
    flex-direction: column;
}
.post_no{
    position: absolute;
    top: -15px;
    left: -15px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    color: white;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post_title{
    color: black;
    font-size: 1.5rem;
    margin: 10px 0px;
}

.post_body{
    line-height: 1.3;
    margin: 10px 0px;
}

.loader{
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
    transition: opacity 0.3s ease-in;
}

.loader.show{
    visibility: visible;
}

.circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: black;
    margin: 2px;
    animation: bounce 0.5s ease-in infinite;
}

.circle:nth-child(2){
    animation-delay: 0.1s;
}
.circle:nth-child(3){
    animation-delay: 0.2s;
}

@keyframes bounce {
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
}


